name: Docker Image CI

on:
  push:
    tags:
      - '*'
    branches:
      - Publish-docker-image-using-github-actions
      
jobs:        
  build-login-publish:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
    
      - name: Checkout repo
        uses: actions/checkout@v3
   
      - name: Login to Docker Hub
        uses: docker/login-action@v2.1.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: build image
        run: docker build -t elimuinformatics/a2d2:latest .
        
      - name: tag image with version id
        run: docker image tag elimuinformatics/a2d2:latest elimuinformatics/a2d2:${GITHUB_REF##*/}
      
      - name: push latest image
        run: docker push elimuinformatics/a2d2:latest

      - name: push image with Version id
        run: docker push elimuinformatics/a2d2:${GITHUB_REF##*/}
