name: Docker Image CI

on:
  push:
    branches: [ "main" ]
      
jobs:        
  build-login-publish:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
    
      - name: Checkout repo
        uses: actions/checkout@v3
   
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: build image
        run: docker build -t docker.io/elimuinformatics/a2d2:latest .
        
      - name: tag image with version id
        run: docker image tag docker.io/elimuinformatics/a2d2:latest docker.io/elimuinformatics/a2d2:1.0.0
      
      - name: push latest image
        run: docker push docker.io/elimuinformatics/a2d2:latest

      - name: push image with Version id
        run: docker push docker.io/elimuinformatics/a2d2:1.0.0
